# ----------------------------------------
# Ignore LOCAL environment only
# ----------------------------------------
.env
.env.example
.env.testing
.env.backup
.env.local
.env.dev
.env.staging
!.env.production


# ----------------------------------------
# Ignore LOCAL Docker files
# ----------------------------------------
docker-compose.yml
docker-compose.override.yml
Dockerfile.local
docker/local/
phpmyadmin/


# ----------------------------------------
# Ignore Git & IDE & system junk
# ----------------------------------------
.git
.gitignore
.vscode
.idea
.fleet
.zed
.DS_Store
Thumbs.db


# ----------------------------------------
# Ignore Node build artifacts (production will rebuild)
# ----------------------------------------
node_modules
npm-debug.log
yarn-error.log
/public/hot
/public/build


# ----------------------------------------
# Ignore Laravel dev/test files
# ----------------------------------------
/tests
/vendor/bin
.phpunit.result.cache
.phpunit.cache


# ----------------------------------------
# Ignore Laravel runtime cache that will regenerate
# ----------------------------------------
/storage/logs
/storage/framework/sessions
/storage/framework/cache/data
/storage/framework/views
