version: "3.9"

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        image: laravel_app:latest
        container_name: laravel_app
        volumes:
            - ./:/var/www/html
        depends_on:
            - mysql
        networks:
            - laravelnet

    web:
        image: nginx:stable-alpine
        container_name: laravel_web
        ports:
            - "8000:80" # access app at http://localhost:8000
        volumes:
            - ./:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - app
        networks:
            - laravelnet

    mysql:
        image: mysql:8.0
        container_name: laravel_mysql
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: laravel_quiz
            MYSQL_USER: laravel
            MYSQL_PASSWORD: secret
        volumes:
            - dbdata:/var/lib/mysql
        networks:
            - laravelnet

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: laravel_phpmyadmin
        restart: unless-stopped
        ports:
            - "8080:80" # access phpMyAdmin at http://localhost:8080
        environment:
            PMA_HOST: mysql
            PMA_PORT: 3306
        depends_on:
            - mysql
        networks:
            - laravelnet

volumes:
    dbdata:

networks:
    laravelnet:
        driver: bridge
