packages:
  yum:
    mysql-server: []

commands:
  01_start_mysql:
    command: "systemctl start mysqld"
  02_enable_mysql:
    command: "systemctl enable mysqld"

  03_set_mysql_root_password:
    command: "mysql --user=root --execute=\"ALTER USER 'root'@'localhost' IDENTIFIED BY 'rootpassword';\""

  04_create_database:
    command: "mysql --user=root --password=rootpassword --execute=\"CREATE DATABASE IF NOT EXISTS laravel_quiz CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;\""

  05_create_user:
    command: "mysql --user=root --password=rootpassword --execute=\"CREATE USER IF NOT EXISTS 'laravel'@'localhost' IDENTIFIED BY 'secret';\""

  06_grant_privileges:
    command: "mysql --user=root --password=rootpassword --execute=\"GRANT ALL PRIVILEGES ON laravel_quiz.* TO 'laravel'@'localhost'; FLUSH PRIVILEGES;\""
